<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANOcjntMsWA0QgiumY_1G-TyOYzJDK4oo</string>
	<key>GCM_SENDER_ID</key>
	<string>533971542263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sumador</string>
	<key>PROJECT_ID</key>
	<string>pm-2857</string>
	<key>STORAGE_BUCKET</key>
	<string>pm-2857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533971542263:ios:332ff1cbf30cbd3ce0f3f2</string>
</dict>
</plist>